<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/images/Madrid_Ajus.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block">
          <h3 style="color:rgb(1, 5, 9); font-weight: bolder;">Edificio Metrópolis</h3>
          <p style="color:rgb(1, 5, 9); font-weight: bolder;">Edificio icónico en la Gran Vía, Madrid.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/museo-del-prado_Ajus.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block">
          <h3 style="color:rgb(1, 5, 9); font-weight: bolder;">Museo del Prado</h3>
          <p style="color:rgb(1, 5, 9); font-weight: bolder;">Con emblemáticas obras que se pueden contemplar, tales como El jardín de las Delicias de El Bosco, El caballero de la mano en el pecho de El Greco, El tránsito de la Virgen de Mantegna, La Sagrada Familia conocida como La Perla de Rafael y Carlos V en Mühlberg de Tiziano.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/museo_nacional_de_ciencia_y_tecnologia_Ajus.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color:rgb(1, 5, 9); font-weight: bolder;">Museo Nacional de Ciencia y Tecnología</h3>
          <p style="color:rgb(1, 5, 9); font-weight: bolder;">El Museo Nacional de Ciencia y Tecnología de España (MUNCYT) es un museo de titularidad estatal adscrito a la Secretaría General de Investigación del Ministerio de Ciencia e Innovación y gestionado por la Fundación Española para la Ciencia y la Tecnología (FECYT).</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/images/museo_robot9.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color:rgb(1, 5, 9); font-weight: bolder;">The Robot Museum</h3>
          <p style="color:rgb(1, 5, 9); font-weight: bolder;">Desde su fundación en 2013, THE ROBOT MUSEUM ha dejado una huella indeleble en la memoria de sus visitantes y hoy, es ya cita obligada tanto para expertos como para curiosos.</p>
          <p style="color:rgb(1, 5, 9); font-weight: bolder;">Un viaje por el ayer, hoy y mañana de la robótica en el que conocerás robots de todas clases y tamaños, con piezas insólitas como, entre otras, la gran colección de perros robot Sony Aibo, una selección de robots retro de los 80, los espectaculares androides NAO y PEPPER, que interaccionan con el público, o reproducciones de robots famosos de la historia del cine.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
