<div class="row" style="margin-top: 30px; text-align: center;">
    <div clas="col md-1"></div>
    <div clas="col md-3">
        <h2>{{nombre}}</h2>
        <p>{{direccion}}</p>
        <a  routerLink="/museo_detalle/{{id}}" >Volver a Museo</a>

    </div>
    <div clas="col md-2"></div>

    <div clas="col md-5">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

            <agm-marker [latitude]="lat" [longitude]="lng"> </agm-marker>

        </agm-map>

    </div>

    <div clas="col md-1"></div>

 


</div>
