<div class="container">

    <header class="gradiente1">
    <div class="row"> 
        <div class="col-md-3"><img src="../assets/images/bandera2-.png"  alt=""></div>
        <div class="col-md-5"><h1>Bohemia Madrileña</h1></div>
        <div class="col-md-4"></div>
    </div>
    </header>

    <app-navbar></app-navbar>
    <section>

    <router-outlet></router-outlet> 
    </section>
    <footer>
      <blockquote class="blockquote text-right gradiente1">
        <span>©️ 2022</span>
        P&aacute;gina actualizada por Gregoria Romero E.
      </blockquote>
    </footer>
</div>